
    body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:black;
    overflow: hidden;

}
.center{
    position: absolute;
    top: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    position: absolute;
    background: transparent;
    width: calc(var(--i)*1.5vh);
    aspect-ratio: 0.5;
    border-radius: 50%;
    border: 3px solid green;
    transform-style: preserve-3d;
    transform: rotatex(70deg) translateZ(50px) ;
    animation: animate 5s ease-in-out calc(var(--i)* 0.10s) infinite;
    box-shadow: 0 0 15px white, inset 0 0 15px orangered;

}
.center1{
    position: absolute;
    right: 50%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cube{
    position: absolute;
    background: transparent;
    width: calc(var(--j)*1.5vh);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 15px solid rgb(5, 205, 240);
    transform-style: preserve-3d;
    transform: rotatex(270deg) translateZ(360px) translateY(180deg);
    animation: animate1 3s ease-in-out calc(var(--j)* 0.5s) infinite;
    box-shadow: 0 0 20px rgb(234, 5, 5), inset 0 0 30px rgb(0, 255, 38);

}
.center2{
    position: absolute;
    left: 50%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star{
    position: absolute;
    background: transparent;
    width: calc(var(--k)*1.5vh);
    aspect-ratio: 1;
    border-radius: 30%;
    border: 15px solid rgb(48, 5, 240);
    transform-style: preserve-3d;
    transform:  rotateX(270deg) translateX(120deg) translateY(180deg);
    animation: animate2 10s ease-in-out calc(var(--k)* 1.5s) infinite;
    box-shadow: 0 0 20px rgb(234, 5, 184), inset 0 0 30px rgb(255, 0, 81);

}
@keyframes animate{
    0%,
    100%{
        transform: rotateX(70deg) translateZ(50px) translateY(90px);
        filter: hue-rotate(360);
    }
    50%{
        transform: rotateX(70deg) translateZ(50px) translateY(-300px);
        filter: hue-rotate(360deg);
    }
}
@keyframes animate1{
    0%,
    100%{
        transform: rotateX(70deg) translateZ(50px) translateY(10px);
        filter: hue-rotate(360);
    }
    50%{
        transform: rotateX(120deg) translateZ(90px) translateY(-500px);
        filter: hue-rotate(360deg);
    }
}
@keyframes animate2{
    0%,
    100%{
        transform: rotateX(270deg) translateZ(120px) translateY(100px);
        filter: hue-rotate(360);
    }
    50%{
        transform: rotateX(120deg) translateZ(90px) translateY(-90px);
        filter: hue-rotate(360deg);
    }
}
